.knowledges {
    color: var(--primary-color);
    padding: 2rem 0 4rem;
    display: block;
    background-color: var(--background-color);
}

.knowledges-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.knowledges-subtitle {
    text-align: center;
    margin-bottom: 5.5rem;
}

.knowledges-grid {
    height: max-content;
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
}

.knowledges-data {
    height: 100px;
    place-items: center;
    margin-bottom: 1rem;
    display: grid;
}

.knowledges-data img{
    width: 40px;
}

img {
    max-width: 100%;
    height: auto;
}

.knowledges-name {
    font-size: 0.813rem;
    margin-bottom: 0.25rem;
    color: #fff;
}

.knowledges-lvl {
    font-size: 0.75rem;
    color: #849bbe;
}

/*EFECTO SOBRE ICONOS*/
#efecto:hover {
    -webkit-transform:scale(0.8);transform:scale(0.8);
}

#efecto_two:hover {
    -webkit-transform:scale(0.8);transform:scale(0.8);
}

#efecto_three:hover {
    -webkit-transform:scale(0.8);transform:scale(0.8);
}

#efecto_four:hover {
    -webkit-transform:scale(0.8);transform:scale(0.8);
}

#efecto_five:hover {
    -webkit-transform:scale(0.8);transform:scale(0.8);
}

#efecto_six:hover {
    -webkit-transform:scale(0.8);transform:scale(0.8);
}

#efecto_seven:hover {
    -webkit-transform:scale(0.8);transform:scale(0.8);
}

#efecto_eight:hover {
    -webkit-transform:scale(0.8);transform:scale(0.8);
}

#efecto_nine:hover {
    -webkit-transform:scale(0.8);transform:scale(0.8);
}
/*EFECTO SOBRE ICONOS*/

.contenedor {
    overflow:hidden;
}    