.proyects{
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 2rem 0 4rem;
    display: block;
}

.proyects-titulo{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    
}

#bl-one{
    margin-left: 50px;
}

.sbt-pr-one{
    margin-left: 150px;
    padding-bottom: 10px;
}

.img-pr-uno {
    width: 400px;
    padding-bottom: 10px;
}

.proyecto-uno-situacion{
    margin-left: 115px;
    color: var(--situation-color-progress);
}

@media screen and (max-width: 960px){
    .proyects-titulo{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    .sbt-pr-one{
        margin-left: 115px;
        padding-bottom: 10px;
    }


    .img-pr-uno {
        width: 400px;
        padding-bottom: 10px;
    }
    
    #bl-one{
        margin-left: 10px;
        margin-right: 10px;
    }

    .proyecto-uno-situacion{
        color: var(--situation-color-progress);
    }
}